---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Release on Merge

concurrency:
  group: container-release
  cancel-in-progress: false

on:
  push:
    branches: ["main"]
    paths:
      - "apps/**"
      - "scripts/templates/**"
      - "!apps/**/metadata.yaml"
      - "!apps/**/README.md"

jobs:
  simple-checks:
    uses: hagak/containers/.github/workflows/simple-checks.yaml@b09044bd781d5d51ec9267ea2e978e36b3b7a78d # main

  get-changed-images:
    needs: ["simple-checks"]
    uses: hagak/containers/.github/workflows/get-changed-images.yaml@b09044bd781d5d51ec9267ea2e978e36b3b7a78d # main

  build-images:
    needs: ["simple-checks", "get-changed-images"]
    if: ${{ needs.get-changed-images.outputs.addedOrModified == 'true' }}
    uses: hagak/containers/.github/workflows/build-images.yaml@b09044bd781d5d51ec9267ea2e978e36b3b7a78d # main
    secrets: inherit
    permissions:
      contents: read
      packages: write
    with:
      appsToBuild: "${{ needs.get-changed-images.outputs.addedOrModifiedImages }}"
      pushImages: true
      sendNotifications: true

  render-readme:
    name: Render Readme
    needs: build-images
    if: ${{ always() && needs.build-images.result != 'failure' }}
    uses: ./.github/workflows/render-readme.yaml
    secrets: inherit
